@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<section class="home_banner_area">
    <div class="banner_inner">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-5">
                    <div class="banner_content mt-lg-200">
                        <h1>@ViewData["Title"]</h1>
                        <hr/>
                        <h4>Please check your email to reset your password.</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

