@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<section class="home_banner_area">
    <div class="banner_inner">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-5">
                    <div class="banner_content mt-lg-200">
                        <h1>@ViewData["Title"]</h1>
                        <hr />
                        <h5>This account has been locked out, please try again later.</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
