
.about_area {
    position: relative
}

    .about_area .main_title {
        margin-bottom: 0px
    }

    .about_area h2 {
        margin-bottom: 30px
    }
    .about_area h4 {
        font-size: 20px;
        color: #797979;
        margin-top: -20px;
        margin-bottom: 20px;
    }

@media (max-width: 991px) {
    .about_area h2 {
        margin-bottom: 20px
    }
    .about_area h4 {
        margin-top: -10px;
    }
}

.about_area .primary_btn {
    margin-top: 40px
}

@media (max-width: 991px) {
    .about_area .primary_btn {
        margin-top: 20px
    }
}

.about_area .about_img {
    position: relative;
    right: 220px
}

    .about_area .about_img::after {
        content: "";
        display: block;
        position: absolute;
        top: -100px;
        left: -160px;
        width: 665px;
        height: 550px;
        transform: scale(0.6);
        background: url(../img/testimonials/testimonial-bg.png) left center no-repeat;
        background-size: cover;
        z-index: -1;
    }

    .about_area .about_img img {
        max-width: 45%;
        height: auto;
        display: block;
        transform: scale(0.8);
    }

@media (min-width: 1200px) {
    .about_area .about_img::after {
        width: 665px;
        height: 550px;
        top: -70px;
        left: -130px;
        transform: scale(0.8)
    }

    .about_area .about_img img {
        transform: scale(1);
    }
}
@media (max-width: 1480px) {
    .about_area .about_img {
        right: 0
    }
}

@media (max-width: 991px) {
    .about_area .about_img {
        display: none
    }
}

@media (max-width: 575px) {
    .about_area h4 {
        font-size: 16px;
    }
}
