
.about_area {
    position: relative
}

    .about_area .main_title {
        margin-bottom: 0px
    }

    .about_area h2 {
        margin-bottom: 30px
    }

@media (max-width: 991px) {
    .about_area h2 {
        margin-bottom: 20px
    }
}

.about_area .primary_btn {
    margin-top: 40px
}

@media (max-width: 991px) {
    .about_area .primary_btn {
        margin-top: 20px
    }
}

.about_area .about_img {
    position: relative;
    right: 220px
}

@media (max-width: 1480px) {
    .about_area .about_img {
        right: 0
    }

        .about_area .about_img img {
            max-width: 100%;
            height: auto
        }
}

@media (max-width: 991px) {
    .about_area .about_img {
        display: none
    }
}
