@model CultureSwitcherViewModel

<il hidden>
    <form hidden id="culture-switcher">
        <select hidden name="culture">
            <option id="culture-selected" value="" selected>""</option>
        </select>
    </form>
</il>

<li class="nav-item submenu dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@(Model.CurrentUICulture.NativeName)</a>
    <ul class="dropdown-menu">
        @foreach (var culture in Model.SupportedCultures)
        {
            if (Model.CurrentUICulture.Name != culture.Name)
            {
                <li class="nav-item"><a class="nav-link culture-options" onclick="SetCulture('@culture.Name')">@culture.NativeName</a></li>
            }
        }
    </ul>
</li>


@*<script>
        var segments = location.pathname.split('/');
        var items = document.getElementsByClassName('culture-options');
        for (var i = 0; i < items.length; i++) {
            items[i].addEventListener('click', printDetails);
        }

        function printDetails(e) {
            var culture = this.text;
            if (segments[1].length == 2) {
                segments[1] = culture;
                location.href = segments.join('/');
            }
            else {
                location.href = '/' + culture + location.pathname;
            }
        }
    </script>*@@*FOR CULTURE*@


    <script>
        //var items = document.getElementsByClassName('culture-options');
        //for (var i = 0; i < items.length; i++) {
        //    items[i].addEventListener('click', printDetails);
        //}

        function SetCulture(culture) {
            document.getElementById("culture-selected").value = culture;
            document.getElementById("culture-switcher").submit();
        }
    </script>